<settings>

	<setting propertyKey="@Properties.backgroundColor" title="@Strings.backgroundColor" prompt="@Strings.backgroundColorPrompt">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.Black</listEntry>
            <listEntry value="0x555555">@Strings.Dark_Grey</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Light_Grey</listEntry>
            <listEntry value="0xFFFFFF">@Strings.White</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.varColor"
		title="@Strings.objVarColor" prompt="@Strings.objVarColorPrompt">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Black</listEntry>
			<listEntry value="1">@Strings.White</listEntry>
			<listEntry value="2">@Strings.Grey</listEntry>
			<listEntry value="3">@Strings.Dark_Blue</listEntry>
			<listEntry value="4">@Strings.Blue</listEntry>
			<listEntry value="5">@Strings.Orange</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
			<listEntry value="7">@Strings.Red</listEntry>
			<listEntry value="8">@Strings.Green</listEntry>
			<listEntry value="9">@Strings.Purple</listEntry>
			<listEntry value="10">@Strings.Pink</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.objColor"
		title="@Strings.objKeyColor" prompt="@Strings.objKeyColorPrompt">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Black</listEntry>
			<listEntry value="1">@Strings.White</listEntry>
			<listEntry value="2">@Strings.Grey</listEntry>
			<listEntry value="3">@Strings.Dark_Blue</listEntry>
			<listEntry value="4">@Strings.Blue</listEntry>
			<listEntry value="5">@Strings.Orange</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
			<listEntry value="7">@Strings.Red</listEntry>
			<listEntry value="8">@Strings.Green</listEntry>
			<listEntry value="9">@Strings.Purple</listEntry>
			<listEntry value="10">@Strings.Pink</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.valueColor"
		title="@Strings.objValueColor" prompt="@Strings.objValueColorPrompt">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Black</listEntry>
			<listEntry value="1">@Strings.White</listEntry>
			<listEntry value="2">@Strings.Grey</listEntry>
			<listEntry value="3">@Strings.Dark_Blue</listEntry>
			<listEntry value="4">@Strings.Blue</listEntry>
			<listEntry value="5">@Strings.Orange</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
			<listEntry value="7">@Strings.Red</listEntry>
			<listEntry value="8">@Strings.Green</listEntry>
			<listEntry value="9">@Strings.Purple</listEntry>
			<listEntry value="10">@Strings.Pink</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.bracketColor"
		title="@Strings.objBracketColor"
		prompt="@Strings.objBracketColorPrompt">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Black</listEntry>
			<listEntry value="1">@Strings.White</listEntry>
			<listEntry value="2">@Strings.Grey</listEntry>
			<listEntry value="3">@Strings.Dark_Blue</listEntry>
			<listEntry value="4">@Strings.Blue</listEntry>
			<listEntry value="5">@Strings.Orange</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
			<listEntry value="7">@Strings.Red</listEntry>
			<listEntry value="8">@Strings.Green</listEntry>
			<listEntry value="9">@Strings.Purple</listEntry>
			<listEntry value="10">@Strings.Pink</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.commaColor"
		title="@Strings.objCommaColor" prompt="@Strings.objCommaColorPrompt">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Black</listEntry>
			<listEntry value="1">@Strings.White</listEntry>
			<listEntry value="2">@Strings.Grey</listEntry>
			<listEntry value="3">@Strings.Dark_Blue</listEntry>
			<listEntry value="4">@Strings.Blue</listEntry>
			<listEntry value="5">@Strings.Orange</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
			<listEntry value="7">@Strings.Red</listEntry>
			<listEntry value="8">@Strings.Green</listEntry>
			<listEntry value="9">@Strings.Purple</listEntry>
			<listEntry value="10">@Strings.Pink</listEntry>
		</settingConfig>
	</setting>


</settings>